/* css styles */

/* Use grid https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout */
.people-gallery {
  display: grid; 
  gap: 10px; /* gap between boxes */
  /* fit as many fixed-width cols as possible */
  grid-template-columns: repeat( auto-fit, 225px );
  /* fix row height as 200 px */
  grid-auto-rows: 275px;
  text-align: center;
}

/* for testing grid
.people-gallery > div {
  background-color: lime;
}
 */
 
.participant-gallery {
  display: grid; 
  gap: 10px; /* gap between boxes */
  /* fit as many fixed-width cols as possible */
  grid-template-columns: repeat( auto-fit, 175px );
  /* fix row height as 200 px */
  grid-auto-rows: 225px;
  text-align: center;
}
 
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}